* {
  font-family: "Open Sans Condensed";
  font-size: 18px;
}

html, body {
  margin: 0;
  font-weight: 300;
}

#app {
  width: 900px;

  margin: 0 auto;

  .menu {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        padding: 8px;
      }
    }
  }
}
