<html>
  <head>
    <title>Dockroller</title>
    <link rel="stylesheet" href="/css/dockroller.css" />
  </head>
  <body>
    <div id="page"></div>
    <div id="msgs"></div>
  </body>
  <script src="/js/aviator.js"></script>
  <script src="/js/react.js"></script>
  <script src="/js/reqwest.js"></script>
  <script src="/js/underscore.js"></script>
  <script src="/js/dockroller.js"></script>
  <script>
    window.onload = function(){
      (function(){
        (new App()).load();
      })();
    }
  </script>
</html>
