<html>
  <head>
    <title>Dockroller</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/pure.css" />
    <link rel="stylesheet" href="/css/font-awesome.css" />
    <link rel="stylesheet" href="/css/dockroller.css" />
  </head>
  <body>
    <div id="app"></div>
    <div id="msgs"></div>
  </body>
  <script src="/js/aviator.js"></script>
  <script src="/js/react.js"></script>
  <script src="/js/reqwest.js"></script>
  <script src="/js/underscore.js"></script>
  <script src="/js/dockroller.js"></script>
  <script>
    window.onload = function(){
      (function(){
        Project.load();
      })();
    }
  </script>
</html>
